.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(25,118,210);
}
.heading-title{
    color: #fff;
    margin-left: 10px;
}
.check-shopping{
    color: rgb(25,118,210);
    background-color: #fff;
    padding: 8px 14px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
}